<div class="row justify-content-center md-3">
  <div class="col-md-4 text-center">
    <h1>وظایف - TODOS</h1>
    <p class="text-info">
      اینجا میتونید وظایف و کارهاتون رو اضافه و مدیریت کنید
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form class="form-inline">
      <div class="row">
        <div class="col-md-10 form-group">
          <input
            type="text"
            placeholder="وظایف خودتون رو اینجا اضاف کنید..."
            name="todoText"
            class="form-control drop-shadow"
          />
        </div>
        <div class="col-md-2">
          <button
            type="submit"
            class="btn btn-primary col-md-2 btn-todo btn-block drop-shadow"
          >
            افزودن
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row categories-list">
  <div class="col-md-3">
    <div class="card drop-shadow" style="border-left-color: blueviolet">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left"></div>
          <div class="float-right cat-tools">
            <small><i class="fas fa-trash text-danger"></i></small>
          </div>
        </div>

        <div class="todo-content">
          <h3 style="color: blueviolet">عنوان دسته بندی</h3>
        </div>
        <span class="badge badge-danger">12 - Todos</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card drop-shadow" style="border-left-color: blueviolet">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left"></div>
          <div class="float-right cat-tools">
            <small><i class="fas fa-trash text-danger"></i></small>
          </div>
        </div>

        <div class="todo-content">
          <h3 style="color: blueviolet">عنوان دسته بندی</h3>
        </div>
        <span class="badge badge-danger">12 - Todos</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card drop-shadow" style="border-left-color: blueviolet">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left"></div>
          <div class="float-right cat-tools">
            <small><i class="fas fa-trash text-danger"></i></small>
          </div>
        </div>

        <div class="todo-content">
          <h3 style="color: blueviolet">عنوان دسته بندی</h3>
        </div>
        <span class="badge badge-danger">12 - Todos</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card drop-shadow" style="border-left-color: blueviolet">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left"></div>
          <div class="float-right cat-tools">
            <small><i class="fas fa-trash text-danger"></i></small>
          </div>
        </div>

        <div class="todo-content">
          <h3 style="color: blueviolet">عنوان دسته بندی</h3>
        </div>
        <span class="badge badge-danger">12 - Todos</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card drop-shadow" style="border-left-color: blueviolet">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left"></div>
          <div class="float-right cat-tools">
            <small><i class="fas fa-trash text-danger"></i></small>
          </div>
        </div>

        <div class="todo-content">
          <h3 style="color: blueviolet">عنوان دسته بندی</h3>
        </div>
        <span class="badge badge-danger">12 - Todos</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card drop-shadow" style="border-left-color: blueviolet">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left"></div>
          <div class="float-right cat-tools">
            <small><i class="fas fa-trash text-danger"></i></small>
          </div>
        </div>

        <div class="todo-content">
          <h3 style="color: blueviolet">عنوان دسته بندی</h3>
        </div>
        <span class="badge badge-danger">12 - Todos</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card drop-shadow" style="border-left-color: blueviolet">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left"></div>
          <div class="float-right cat-tools">
            <small><i class="fas fa-trash text-danger"></i></small>
          </div>
        </div>

        <div class="todo-content">
          <h3 style="color: blueviolet">عنوان دسته بندی</h3>
        </div>
        <span class="badge badge-danger">12 - Todos</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card drop-shadow" style="border-left-color: blueviolet">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left"></div>
          <div class="float-right cat-tools">
            <small><i class="fas fa-trash text-danger"></i></small>
          </div>
        </div>

        <div class="todo-content">
          <h3 style="color: blueviolet">عنوان دسته بندی</h3>
        </div>
        <span class="badge badge-danger">12 - Todos</span>
      </div>
    </div>
  </div>
</div>
