<div class="row justify-content-center md-3">
  <div class="col-md-4 text-center">
    <h1>وظایف - TODOS</h1>
    <p class="text-info">
      اینجا میتونید وظایف و کارهاتون رو اضافه و مدیریت کنید
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form class="form-inline">
      <div class="row">
        <div class="col-md-10 form-group">
          <input
            type="text"
            placeholder="وظایف خودتون رو اینجا اضاف کنید..."
            name="todoText"
            class="form-control drop-shadow"
          />
        </div>
        <div class="col-md-2">
          <button
            type="submit"
            class="btn btn-primary col-md-2 btn-todo btn-block drop-shadow"
          >
            افزودن
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<br />

<div class="row justify-content-center todo-list">
  <div class="col-md-7 todo-item">
    <div class="card drop-shadow" style="display: flex; flex-direction: row">
      <div class="text-secondary">
        <!-- <i class="fas fa-check text-success todo-status"></i> -->
        <i class="far fa-times-circle text-danger todo-status"></i>
        انجام کار های روزمره
      </div>
      <div class="distance"></div>
      <div class="todo-tools">
        <small>
          <i class="fas fa-pencil-alt text-warning"></i>
          <i class="fas fa-trash text-danger"></i>
        </small>
      </div>
    </div>
  </div>

  <div class="col-md-7 todo-item">
    <div class="card drop-shadow">
      <div class="text-secondary">
        <i class="far fa-check-circle text-success todo-status"></i>

        انجام کار های روزمره
      </div>
      <div class="distance"></div>
      <div class="todo-tools">
        <small>
          <i class="fas fa-pencil-alt text-warning"></i>
          <i class="fas fa-trash text-danger"></i>
        </small>
      </div>
    </div>
  </div>
  <div class="col-md-7 todo-item">
    <div class="card drop-shadow" style="display: flex; flex-direction: row">
      <div class="text-secondary" style="padding-top: 24px">
        <!-- <i class="fas fa-check text-success todo-status"></i> -->
        <i class="far fa-times-circle text-danger todo-status"></i>
        انجام کار های روزمره
      </div>
      <div class="distance"></div>
      <div class="todo-tools" style="padding-top: 24px">
        <small>
          <i class="fas fa-pencil-alt text-warning"></i>
          <i class="fas fa-trash text-danger"></i>
        </small>
      </div>
    </div>
  </div>
</div>
